<!DOCTYPE html>
<html>
<head>
	<title>Vue Js</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
	<div id="wrapper" class="wrapper" >
		<div class="container mt-4">
		<h2> Simple Vue Js Calculator</h2>
			<div class="card">
				<div class="card-body">

					<div class="alert alert-danger" v-if='hasError'>{{error}}</div>
					<div class="alert alert-success" v-else>Result = {{resultText }}</div>
						
					<div class="row">
						<div class="col-md-6">
						<input type="text" class="form-control" @keyup="checkError" v-model="first_num">	
						</div>
						<div class="col-md-6">
						<input type="text" class="form-control"  @keyup="checkError" v-model="seconed_num">	
						</div>
					</div>
					<div class="row"> 
						<div class="col-md-3 mt-2">
							<button class="btn btn-success btn-block" @click="plus_button" type="button">+</button>
						</div>
						<div class="col-md-3 mt-2">
							<button class="btn btn-success btn-block" @click="minus_button" type="button">-</button>
						</div>
						<div class="col-md-3 mt-2">
							<button class="btn btn-success btn-block" @click="multiplication" type="button">*</button>
						</div>
						<div class="col-md-3 mt-2">
							<button class="btn btn-success btn-block" @click="division" type="button">/</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
		var app=new Vue({
		el: '#wrapper',
		data:{
			first_num:"",
			seconed_num:"",
			hasError:false,
			error:"",
			resultText:""

		},
		methods:{
			
			plus_button(){
				var first= Number(this.first_num) 
				var second=Number(this.seconed_num)
				var result=first + second;
				this.resultText=result;
			},
			minus_button(){
				var first=Number(this.first_num)
				var second=Number(this.seconed_num)
				var result= first - second;
				this.resultText=result;
			},
			multiplication(){
				var first=Number(this.first_num)
				var second=Number(this.seconed_num)
				var result= first * second;
				this.resultText=result;

			},
			division(){

				var first=Number(this.first_num)
				var second=Number(this.seconed_num)
				var result= first / second;
				this.resultText=result;

			},

			checkError(){
				if(isNaN(this.first_num)){
					this.hasError=true;
					this.error= "Please enter a valid Number ";
				}else if (isNaN(this.seconed_num)) {
						this.hasError=true;
					this.error= "Please enter a valid Number ";
				}
				else{
					this.hasError==false;
					this.error="";
				}
			}
		}
	})
</script>

</body>
</html>